@model pract01.Models.VideoGame
@{
    ViewData["Title"] = "VideoGame";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Formulario de VideoJuegos</h1>

    <form asp-controller="VideoGame" asp-action="Edit">
        <input type="hidden" asp-for="Id" />

        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control form-control-sm" type="text" placeholder="Escribe un nombre" aria-label=".form-control-sm" />

        <label asp-for="Categoria" class="control-label"></label>
        <input asp-for="Categoria" class="form-control" />

        <label asp-for="Precio" class="control-label"></label>
        <input asp-for="Precio" class="form-control" />

        <label asp-for="Descuento" class="control-label"></label>
        <input asp-for="Descuento" class="form-control" />

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Actualizar</button> 
        </div>              
    </form>
    <h1>@ViewData["Message"]</h1>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
